body {
	width: 500px;
	margin: 0 auto;
	background: #F7EFB7;
}

#source-img {
	width: 25px;
	display: inline;
}

#header {
	text-align: center;
	margin-bottom: 25px;
	vertical-align: bottom;
}

#title {
	font-weight: bolder;
	float: left;
}

#stats {
	float: right;
}

#controls {
	font-size: 18px;
	margin-bottom: 25px;
}

#new-game {
	font-size: 20px;
	line-height: 42px;
	float: right;
}

#summary {
	float: left;
	width: 70%;
	font-size: 20px;
	margin-bottom: 25px;
}

#board-container {
	width: 500px;
	height: 500px;
	position: relative;
	background: #7C0909;
	border-radius: 6px;
	padding: 15px;
	box-sizing: border-box;
	clear: both;
}

#board {
	position: absolute;
	z-index: 1;
}

#footer {
	margin-bottom: 10px;
	margin-top: 20px;
}

#footer a img {
	height: 30px;
	display: inline;
}

#share {
	text-align: center;
}

#share a img {
	height: 30px;
	display: inline;	
}

#author {
	text-align: center;
	font-weight: bold;
}

.my-cell {
	text-align: center;
	width: 106.25px;
	height: 106.25px;
	margin-right: 15px;
	margin-bottom: 15px;
	float: left;
	border-radius: 3px;
	background: rgba(255, 255, 255, 1.0);
	font-size: 55px;
	line-height: 116.25px;
}

.my-zero-cell {
	width: 106.25px;
	height: 106.25px;
	margin-right: 15px;
	margin-bottom: 15px;
	float: left;
	border-radius: 3px;
	background: rgba(204, 138, 138, 1);
}

#guide-content div {
	text-align: center;
}

#guide-content div img {
	width: 150px;
}