body {
	width: 500px;
	margin: 0 auto;
}

#header {
	text-align: center;
}

#board-container {
	width: 500px;
	height: 500px;
	position: relative;
	background: #5E64A0;
	border-radius: 6px;
	padding: 15px;
	box-sizing: border-box;
}

#board {
	position: absolute;
	z-index: 1;
}

#footer {
	margin-bottom: 10px;
	margin-top: 20px;
}

#author {
	text-align: justify;
}

.my-cell {
	text-align: center;
	width: 106.25px;
	height: 106.25px;
	margin-right: 15px;
	margin-bottom: 15px;
	float: left;
	border-radius: 3px;
	background: rgba(230, 230, 230, 0.9);
	font-size: 55px;
	line-height: 116.25px;
}

.my-zero-cell {
	width: 106.25px;
	height: 106.25px;
	margin-right: 15px;
	margin-bottom: 15px;
	float: left;
	border-radius: 3px;
	background: rgba(230, 230, 230, 0.2);
}