<div class="modal-header">
    <h3 class="modal-title">15 Puzzle Guide</h3>
</div>
<div class="modal-body">
    <div id="guide-content">
	    <p>
	    There are 15 numbered tiles and 1 empty cell. Swapping the empty cell and a neighboring cell changes the state of the board. The puzzle is solved when we reach the state below.
	    </p>
	    <div><img src="/images/target-state.png" ></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Play on</button>
</div>