<div class="modal-header">
    <h3 class="modal-title">15 Puzzle Guide</h3>
</div>
<div class="modal-body">
    <div id="guide-content">
    	There are 15 numbered tiles and 1 empty cell.
	    <ul>
	    	<li>Swap the empty cell and a neighboring cell to modify the board.</li>
	    	<li>Try to reach the state below.</li>
	    </ul>
	    <div><img src="images/target-state.png" ></div>
	    <b>Mobile devices:</b> Swipe <b>the empty cell</b> up/down/left/right to move it.
	    <br>
	    <b>PCs/laptops:</b> Use UP, DOWN, LEFT, RIGHT to move the empty cell.
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Play on</button>
</div>