<div class="modal-header">
    <h3 class="modal-title">Congratulations!</h3>
</div>
<div class="modal-body">
    <h3>
    	You did it! The 15 puzzle is solved. Let's share this with friends.
    </h3>
    <div id="share">
        <a twitter data-lang="en" data-count='horizontal' 
        data-url='http://xuanluong.github.io/15-puzzle' 
        data-via='15-puzzle' data-size="medium" 
        data-text='Checkout this nice 15 Puzzle game!' ></a>
        <div gplus class="g-plus" data-size="medium" data-annotation="bubble" 
         data-href='http://xuanluong.github.io/15-puzzle' data-action='share'></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">New Game</button>
</div>