<link rel="stylesheet" href="build/css/15-puzzle.min.css">
<div class="modal-header">
    <h3 class="modal-title">Congratulations!</h3>
</div>
<div class="modal-body">
    <h3>
        You did it! The 15 puzzle is solved. Let's share this with friends.
    </h3>
    <div class="share-social">
        <ng-facebook></ng-facebook>
        <ng-g-plus></ng-g-plus>
        <ng-twitter></ng-twitter>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">New Game</button>
</div>
<script src="build/js/15-puzzle.lib.min.js"></script>