<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="640">
		<meta name="viewport" content="width=640, initial-scale=0.5">
		<meta property="og:title" content="15 Puzzle">
		<meta property="og:site_name" content="15 Puzzle">
		<meta property="og:description" content="Move the empty cell to reach the target state and solve the 15 Puzzle!">
		<meta property="og:image" content="favicon.png">

		<link rel="apple-touch-icon" href="images/favicon.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="favicon.png"/>  
		<link rel="apple-touch-icon" sizes="114x114" href="favicon.png"/>  
		<link rel="icon" sizes="192x192" href="favicon.png">
		<link rel="icon" sizes="128x128" href="favicon.png">
		<link rel="shortcut icon" href="favicon.png" />
		
		<title>15 Puzzle</title>
		<link rel="stylesheet" href="build/css/15-puzzle.min.css">
	</head>
	<body ng-controller="bodyController" ng-keydown="handleKeyDown($event)">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=776055202450751&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
		<div id="game-container">
			<div id="header" ng-controller="headerController">
				<h1 id="title">15 PUZZLE</h1>
				<h2 id="stats">
					<span class="label label-default" id="clock">{{timePassed | duration}}</span>
					<span class="label label-default" id="best-time">{{bestTime | duration}}</span>
				</h2>
				<div id="summary">
					Move the tiles to reach the <button ng-click="guide()" class="btn btn-success guide-trigger">target board</button>
				</div>
				<div id="buttons">
					<button id="new-game" class="btn btn-danger" ng-click="newGame()">
						New Game
					</button>
				</div>
			</div>
			<div id="main" ng-controller="mainController">				
				<div id="board-container">
					<div id="board">
						<div class="tile" ng-tile ng-repeat="value in series" hm-swipe="swipe($event)">{{value}}</div>
					</div>
				</div>			
			</div>

			<div id="footer">
				<div id="share-social">
					<div class="fb-share-button" data-layout="button_count" data-href="http://xuanluong.github.io/15-puzzle/"></div>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://xuanluong.github.io/15-puzzle/" data-text="Check this out!" data-via="xuanluong" data-hashtags="15-puzzle">Tweet</a>
					 <div gplus class="g-plus" data-size="medium" data-annotation="bubble" 
					 data-href='http://xuanluong.github.io/15-puzzle' data-action='share'></div>
				</div>
				
				<div id="explanation">
			    	<span class="footer-section-header">HOW TO PLAY</span>
			    	<ul>
			    		<li>
			    			On <span>PC</span>: press  <img src="images/keys.png">  to move the empty cell.
			    		</li>
			    		<li>
			    			On <span>Mobile</span>: swipe on board.
			    		</li>
			    		<li>
			    			The empty cell is moved in the <span>reverse direction<span>.
			    		</li>
			    	</ul>
			    </div>

			    <div id="author">
			    	<span class="footer-section-header">AUTHOR</span>
			    	<p>
		    			Created by <a href="https://twitter.com/xuanluong">Xuan Luong</a>. 
		    			Code hosted on <a href="https://github.com/xuanluong">GitHub <img src="images/github.png" class="img-responsive" alt="Github"></a>
			    	</p>
				</div>
			</div>
		</div>
		<script src="build/js/15-puzzle.lib.min.js"></script>
		<script src="build/js/15-puzzle.js"></script>
		
	</body>
</html>