<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta property="og:title" content="15 Puzzle">
		<meta property="og:site_name" content="15 Puzzle">
		<meta property="og:description" content="Move the empty cell to reach the target state and solve the 15 Puzzle!">
		<meta property="og:image" content="favicon.png">

		<link rel="apple-touch-icon" href="images/favicon.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="favicon.png"/>  
		<link rel="apple-touch-icon" sizes="114x114" href="favicon.png"/>  
		<link rel="icon" sizes="192x192" href="favicon.png">
		<link rel="icon" sizes="128x128" href="favicon.png">
		<link rel="shortcut icon" href="favicon.png" />
		
		<title>15 Puzzle</title>
		<link rel="stylesheet" href="build/css/15-puzzle.min.css">
		<script src="build/js/15-puzzle.lib.min.js"></script>
		<script src="build/js/15-puzzle.js"></script>
	</head>
	<body ng-controller="bodyController" ng-keydown="handleKeyDown($event)">
		<div id="fb-root"></div>
		<div id="game-container">
			<div id="header" ng-controller="headerController">
				<h1>15 PUZZLE</h1>
				<div id="clocks">
					<button class="btn btn-danger header-button" ng-cloak ng-clock stop="stopClock">
					</button>
					<button class="btn btn-success header-button" ng-cloak >{{bestTime | duration}}</button>
				</div>
				<div id="buttons">
					<button class="btn btn-primary header-button" ng-click="newGame()">New Game</button>
				</div>
			</div>
			<div id="won-message" ng-controller="wonMessageController" ng-my-fade="show">
				<div class="alert alert-success" role="alert">
					<strong>Congratulations!</strong> The 15 puzzle is solved. Let's <a href="#share">share</a> this with friends.
				</div>					
			</div>
			<div id="main" ng-controller="mainController">
				<div id="board-container">
					<div>
						<div ng-if="value !== 0" class="tile" ng-tile ng-repeat="value in series" 
						hm-swipe="swipe($event)" init="init" move="move">
						{{value}}
						</div>
					</div>
				</div>			
			</div>

			<div id="footer">
				<div id="share" class="share-social">
					<ul ng-social-buttons
					     data-url="'http://xuanluong.github.io/15-puzzle/'"
					     data-title="'15 Puzzle'"
					     data-description="'15 Puzzle game'"
					     data-image="'https://github.com/xuanluong/15-puzzle/blob/master/favicon.png'">
					    <li class="ng-social-facebook">Facebook</li>
					    <!-- <li class="ng-social-google-plus">Google+</li> -->
					    <li class="ng-social-twitter">Twitter</li>
					</ul>

				</div>
				<div id="explanation">
			    	<span>HOW TO PLAY</span>
			    	<ul>
			    		<li>Return the board to this state:
						</li>
			    	</ul>
			    	<p>
						<img src="images/target-state.png" >
					</p>
			    	<ul>
			    		<li>
			    			<span>Mobile</span>: swipe on the  board.
			    		</li>
			    		<li>
			    			<span>PC</span>:
			    			<ul>
			    				<li>
			    					Move <span>the empty cell</span> with <img src="images/wasd.png">, or
			    				</li>
			    				<li>
			    					Move <span>the tiles</span> with <img src="images/keys.png">
			    				</li>
			    			</ul>
			    		</li>
			    	</ul>
			    </div>
			    <div id="author">
			    	<span>AUTHOR</span>
			    	<div>
			    		Created by <a href="https://twitter.com/xuanluong">Xuan Luong</a>
			    		<ul ng-social-buttons data-url="'http://xuanluong.github.io/15-puzzle/'"
					     	data-title="'15 Puzzle'" data-description="'15 Puzzle game'"
					     	data-image="'https://github.com/xuanluong/15-puzzle/blob/master/favicon.png'">
				     		<li class="ng-social-github" user="xuanluong" repository="15-puzzle">GitHub</li>
				    	</ul>
			    	</div>			    	
				</div>
			</div>
		</div>
	</body>
</html>