@media (max-width: 320px) {
  html {
    font-size: 5.88235px;
  }
}
@media (min-width: 321px) and (max-width: 420px) {
  html {
    font-size: 6.66667px;
  }
}
@media (min-width: 421px) and (max-width: 640px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 641px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1025px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 10px;
  }
}

html {
  margin: 0;
  padding: 0;
}
html body {
  background: #F7EFB7;
  margin: 1rem;
}

#game-container {
  width: 50rem;
  margin: 0 auto;
}

#header {
  line-height: 0;
  margin-top: 6rem;
}
#header > h1 {
  font-size: 3.6rem;
  font-weight: bolder;
  text-align: center;
}
#header > div {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
#header > div .header-button {
  font-size: 1.6rem;
  font-weight: bolder;
  line-height: 3.8rem;
}
#header #clocks {
  float: right;
}
#header #buttons {
  float: left;
}

#board-container {
  width: 50rem;
  height: 50rem;
  position: relative;
  background: #cc8a8a;
  border: 1.2rem solid;
  border-color: #7C0909;
  border-radius: 0.6rem;
  box-sizing: border-box;
  clear: both;
}
#board-container > div {
  z-index: 1;
}
#board-container > div > div {
  display: inline-block;
  position: absolute;
}

#footer {
  margin-bottom: 1rem;
  margin-top: 2rem;
  margin-left: 0;
  margin-right: 0;
}
#footer > div > span {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  font-weight: bold;
}

#author {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#author a {
  font-weight: bolder;
}
#author a img {
  height: 2.4rem;
  display: inline;
}
#author p {
  text-align: center;
}

.share-social {
  margin: 1.5rem 0;
  text-align: center;
}

.my-tile {
  text-align: center;
  width: 11.6rem;
  height: 11.6rem;
  border-radius: 0.3rem;
  background: white;
  font-size: 5.5rem;
  line-height: 11.625rem;
  z-index: 100;
}

#guide-content {
  text-align: center;
}

.modal-header {
  text-align: center;
}

#explanation ul li {
  font-size: 1.8rem;
}
#explanation ul li span {
  font-weight: bolder;
}
#explanation ul li img {
  height: 3.2rem;
}

.fb-share-button.fb_iframe_widget.fb_iframe_widget_fluid {
  display: inline !important;
}

.fb-share-button span {
  vertical-align: baseline !important;
}
