$board-border-color: #7C0909;
$board-background: rgba(204, 138, 138, 1);
$tile-background: rgba(255, 255, 255, 1.0);
$body-background: #F7EFB7;

@function calc-rem($target-px, $context) {
	@return ($target-px / $context) * 1rem;
}

$font-size: 10px;
$container-size: calc-rem(500px, $font-size);
$board-size: $container-size;

html {
	@media (max-width: 320px) {
		font-size: $font-size / 1.7;
	}
	@media (min-width: 321px) and (max-width: 420px) {
		font-size: $font-size / 1.5;
	}
	@media (min-width: 421px) and (max-width: 640px) {
		font-size: $font-size / 1.25;
	}
	@media (min-width: 641px) and (max-width: 1024px) {
		font-size: $font-size * 1.2;
	}
	@media (min-width: 1025px) {
		font-size: $font-size * 1.8;
	}
	@media screen and (min-width: 1024px) {
		font-size: $font-size;
	}
}

html {
	margin: 0;
	padding: 0;
	body {
		background: $body-background;
		margin: calc-rem(10px, $font-size);
	}
}

#game-container {
	width: $container-size;
	margin: 0 auto;
}

#header {
	line-height: 0;
	> h1 {
		font-size: calc-rem(36px, $font-size);
		font-weight: bolder;
		text-align: center;
	} 
	> div {
		margin-top: calc-rem(16px, $font-size);
		margin-bottom: calc-rem(16px, $font-size);
		.header-button {
			font-size: calc-rem(16px, $font-size);
			font-weight: bolder;
			line-height: calc-rem(38px, $font-size);
		}
	}
	#clocks {
		float: right;
	}
	#buttons {
		float: left;
	}
	margin-top: calc-rem(60px, $font-size);
}

#board-container {
	width: $board-size;
	height: $board-size;
	position: relative;
	background: $board-background;
	border: 0.024 * $board-size solid;
	border-color: $board-border-color;
	border-radius: 0.012 * $board-size;
	box-sizing: border-box;
	clear: both;
	> div {
		z-index: 1;
		> div {
			display: inline-block;
			position: absolute;
		}
	}
}

#footer {
	margin-bottom: calc-rem(10px, $font-size);
	margin-top: calc-rem(20px, $font-size);
	margin-left: 0;
	margin-right: 0;
	> div {
		> span {
			margin-top: calc-rem(5px, $font-size);
			margin-bottom: calc-rem(5px, $font-size);
			font-size: calc-rem(22px, $font-size);
			font-weight: bold;
		}
	}
}

#author {
	margin-top: calc-rem(5px, $font-size);
	margin-bottom: calc-rem(5px, $font-size);
	a {
		font-weight: bolder;
		img {
			height: calc-rem(24px, $font-size);
			display: inline;	
		}
	}
	p {
		text-align: center;
	}
}

.share-social {
	margin: calc-rem(15px, $font-size) 0;
	text-align: center;
}

.my-tile {
	text-align: center;
	width: 0.232 * $board-size;
	height: 0.232 * $board-size;
	border-radius: 0.012 * $board-size / 2;
	background: $tile-background;
	font-size: calc-rem(55px, $font-size);
	line-height: calc-rem(116.25px, $font-size);
	z-index: 100;
}

#guide-content {
	text-align: center;
}

.modal-header {
	text-align: center;
}

#explanation {
	ul {
		li {
			font-size: calc-rem(18px, $font-size);
			span {
				font-weight: bolder;
			}
			img {
				height: calc-rem(32px, $font-size);
			}
		}
	}
}

.fb-share-button.fb_iframe_widget.fb_iframe_widget_fluid {
	display: inline !important;
}

.fb-share-button span {
	vertical-align: baseline !important;
}