$container-size: 500px;
$board-size: 500px;
$board-border-thickness: 12px;
$board-border-radius: 6px;
$tile-margin: 4px;
$tile-size: ($board-size - 2 * $board-border-thickness - 3 * $tile-margin) / 4;

html {
	margin: 0;
	padding: 0;
	body {
		background: #F7EFB7;
		margin: 80px 0;
	}
}

#game-container {
	width: $container-size;
	margin: 0 auto;
}

#header {
	line-height: 0;
	> h1 {
		font-size: 36px;
		font-weight: bolder;
		float: left;
	}
	> h2 {
		float: right;
		span {
			vertical-align: bottom;
			font-size: 20px;	
		}
	}
}

#summary {
	float: left;
	width: 75%;
	font-size: 18px;
	font-weight: bolder;
	margin-bottom: 25px;
	margin-top: 15px;
	> button {
		font-weight: bold;
		font-size: 16px;
	}
}

#buttons {
	float: right;
	button {
		font-size: 16px;
		font-weight: bold;
		line-height: 38px;
	}
}

#board-container {
	width: $board-size;
	height: $board-size;
	position: relative;
	background: rgba(204, 138, 138, 1);
	border: $board-border-thickness solid;
	border-color: #7C0909;
	border-radius: $board-border-radius;
	box-sizing: border-box;
	clear: both;
	> div {
		z-index: 1;
		> div {
			display: inline-block;
			position: absolute;
		}
	}
}

#footer {
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
	> div {
		> span {
			margin-top: 5px;
			margin-bottom: 5px;
			font-size: 22px;
			font-weight: bold;
		}
	}
}

#author {
	margin-top: 5px;
	margin-bottom: 5px;
	a {
		font-weight: bolder;
		img {
			height: 24px;
			display: inline;	
		}
	}
	p {
		text-align: center;
	}
}

.share-social {
	margin: 15px 0;
	text-align: center;
}

.my-tile {
	text-align: center;
	width: $tile-size;
	height: $tile-size;
	border-radius: $board-border-radius / 2;
	background: rgba(255, 255, 255, 1.0);
	font-size: 55px;
	line-height: 116.25px;
	z-index: 100;
}

#guide-content {
	text-align: center;
}

.modal-header {
	text-align: center;
}

#explanation {
	ul {
		li {
			font-size: 18px;
			span {
				font-weight: bolder;
			}
			img {
				height: 32px;
			}
		}
	}
}

.fb-share-button span {
	vertical-align: baseline !important;
}