html {
  margin: 0;
  padding: 0;
  font-size: 10px;
}
html body {
  background: #F7EFB7;
  margin: 1rem;
}

#game-container {
  width: 500px;
  margin: 0 auto;
}

#header {
  line-height: 0;
}
#header > h1 {
  font-size: 3.6rem;
  font-weight: bolder;
  float: left;
}
#header > h2 {
  float: right;
}
#header > h2 span {
  vertical-align: bottom;
  font-size: 2rem;
}

#summary {
  float: left;
  width: 75%;
  font-size: 1.8rem;
  font-weight: bolder;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
}
#summary > button {
  font-weight: bold;
  font-size: 1.6rem;
}

#buttons {
  float: right;
}
#buttons button {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 3.8rem;
}

#board-container {
  width: 500px;
  height: 500px;
  position: relative;
  background: #cc8a8a;
  border: 12px solid;
  border-color: #7C0909;
  border-radius: 6px;
  box-sizing: border-box;
  clear: both;
}
#board-container > div {
  z-index: 1;
}
#board-container > div > div {
  display: inline-block;
  position: absolute;
}

#footer {
  margin-bottom: 1rem;
  margin-top: 2rem;
  margin-left: 0;
  margin-right: 0;
}
#footer > div > span {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  font-weight: bold;
}

#author {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#author a {
  font-weight: bolder;
}
#author a img {
  height: 2.4rem;
  display: inline;
}
#author p {
  text-align: center;
}

.share-social {
  margin: 1.5rem 0;
  text-align: center;
}

.my-tile {
  text-align: center;
  width: 116px;
  height: 116px;
  border-radius: 3px;
  background: white;
  font-size: 5.5rem;
  line-height: 11.625rem;
  z-index: 100;
}

#guide-content {
  text-align: center;
}

.modal-header {
  text-align: center;
}

#explanation ul li {
  font-size: 1.8rem;
}
#explanation ul li span {
  font-weight: bolder;
}
#explanation ul li img {
  height: 3.2rem;
}

.fb-share-button span {
  vertical-align: baseline !important;
}
